html, body{
    margin: 0;
    width: 100%;
    display: block;
    box-sizing: border-box;
    font-family: Chilanka;
    overflow-x: hidden;
}



:root{
    --text-light : #686666da;
    --midnight: #104f55;

    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

/*--------------Global Classes----------------*/

a{
    text-decoration: none;
    color: #646363;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
ul{
    list-style-type: none;
}

.btn{
    margin: 25px;
    background: var(--sky);
    padding: 15px 45px;
    border-radius: 2rem;
    border-width: 1px;
    border-color: var(--sky);
    cursor: pointer;
    opacity: 100%;
    font-family: Chilanka;
    font-size: 15px;
}
.btn:hover{
    background: transparent;
    border: 1px solid white;
    color: white;
    transition: background .3s ease;
}

.container{
    margin: 0 5vw;
}

h1{
    margin: 10px;
    font-size: 50px;
}

h3{
    margin: 20px;
    font-size: 20px;
}

.text-grey{
    color: #707070;
}

p{
    font-weight: 500;
    font-size: 16px;
    color: #4E4E50;
}


/*------x--------Global Classes-------------x---*/



/*-----------------navbar-------------------*/
.nav{
    padding-left: 10px;
    height: 0;
    min-height: 100px;
    width: 100%;
    overflow: hidden;
    margin-bottom: -38px;
}
.nav .nav-menu{
    justify-content: space-between;
}

.nav .nav-items{
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link {
    padding: 20px 20px;
    font-size: 20px;
    position: relative;
}

.nav .nav-items .nav-link:hover{
    background-color: #66d0cc;
    transition: all 0.5s ease;
}

.nav .nav-brand a{
    font-size: 26px;
    padding: 1rem 0;
    display: block;
}

.nav .social{
    padding: 20px 20px 0 0;
}

.nav .social i{
    padding: 0 3px;
}

.nav .social i:hover{
    color: #60b9b0;
    transition: all 0.5s ease;
}

nav .logged{
    font-family: 'Font Awesome 5 Brands';
    margin-top: 7px;
    padding: 15px 45px;
    border-radius: 2rem;
    font-size: 15px;
    display: flex;
    position: absolute;
    right: 7rem;
}

nav .logged a{
    margin-left: 10px;
}

nav .btn{
    display: flex;
    position: absolute;
    right: 7rem;
    margin-top: .5rem;
    background: linear-gradient(135deg, #43CBFF 10%, #9708CC 100%);
    font-size: .8rem;
}


nav .btn:hover{
    transition: 1s all ease;
    cursor: pointer;
    background: linear-gradient(135deg, #43CBFF 10%, #9708CC 80%);
    border: none;
}

/*-----X------------navbar---------------X----*/



/*           Viewport less or equal then 750px          */

@media only screen and (max-width: 750px){
    .nav{
        background: #b25d5d;
    }
}



/*       x    Viewport less or equal then 750px    x      */



/*------------------Registration--------------------*/
form { margin: 0 10px; }

.form-group{
    margin-bottom: 15px;
}

.form-group:first-child{
    margin-top: 20px;
}

.form-group label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 500;
}

.form-group{
    align-items: center;
    text-align: center;
}

.form-control {
    display: block;
    width: 93%;
    height: 26px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.registration-container h2 {
    margin-top: 2px;
    margin-bottom: 2px;
}


.registration-container {
    position: fixed;
    filter: none;
    align-items: center;
    width: 400px;
    margin-top: 41px;
    margin-left: 40vw;
}

#background{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: lightgrey;
    filter: blur(10px);
    z-index: -1;
    opacity: 70%;
}

.blur {
    display: none;
    z-index: 2;
    position: absolute;
    width: 100vw;
    height: 100vw;
}

.blur.active{
    display: block;
}

.col{
    display: none;
}

.col.active{
    display: block;
}

.divider {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

.divider hr {
    margin: 7px 0;
    width: 35%;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid blue;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

.left { float: left; }

.right { float: right; }

/*----x-------------Registration---------------x----*/



/*------------------Site Title--------------------*/

main .site-title{
    display: flex;
    width: 100%;
    height: 1100px;
    justify-content: center;
    background-image: url("../assets/Background-image.png");
    background-size: cover;
}

main .site-title .btn:hover{
    transition: all 1s ease;
}

main .site-title .site-background{
    padding-top: 200px;
    text-align: center;
    color: white;

}


/*-----X------------Site Title---------------X----*/

/*--------------------Blog Carousel------------------------*/

main .blog{
    background: url("../assets/Abract01.png");
    background-repeat: no-repeat;
    background-position: right;
    height: 900px;
    width: 100%;
}

main .blog .blog-post{
    padding-top: 90px;
}

main .blog-post .blog-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    overflow: hidden;
    width: 80%;
    margin: 45px 30px;
    box-shadow: 0 15px 20px rgba(0,0,0,0.2);
}

main .blog-post .blog-content img{
    height: 279px;
    min-width: 333px;
}

main .blog-content .blog-title{
    padding: 30px 0;
    font-size: 20px;
}

main .blog-content .blog-title h3{
    height: 50px;
    padding-top: 15px;
    margin-bottom: 25px;
}

main .blog-content .btn-blog{
    padding: 10px 30px;
    margin: 7px;
}

main .blog-content .btn-blog:hover{
    border-color: black;
    color: black;
}

main .blog-content span{
    display: block;
    margin-top: 7px;
}

section .container .owl-nav{
    position: absolute;
    margin: 0 auto;
    width: 100%;
}


/*-----x--------------Blog Carousel------------------x-----*/


/*------------------Site Content----------------------*/

main .site-content{
    font-family: 'Roboto';
    display: grid;
    grid-template-columns: 70% 30%;
}

main .post-content{
    width: 100%;
}

main .posts span.first{
    display: none;
}

main .posts span.second{
    display: none;
}

main .posts span.first.active{
    display: block;
}

main .posts span.second.active{
    display: block;
}

main .site-content .post-content .post-image, .post-title{
    padding: 15px 30px;
    position: relative;
}

main .site-content .post-content .post-image .post-info{
    background: var(--sky);
    padding: 15px;
    display: block !important;
    position: absolute;
    bottom: 0;
    left: 25vw;
    border-radius: 45px;
}

main .site-content .post-content .post-image div{
    overflow: hidden;
}

main .site-content .post-content .post-image .img{
    margin-top: 30px;
    width: 100%;
    transition: all 1s ease;
}

main .site-content .post-content .post-image .img:hover{
    transform: scale(1.3);
}

main .site-content .post-content .post-image .post-info span{
    margin: 7px;
}

main .site-content .post-content .post-title h2{
    color: #707070;
}

main .site-content .post-content .post-title p{
    margin-bottom: 30px;
}

main .site-content .post-content .post-title a{
    font-size: 20px;
    font-weight: 700;
}

main .site-content .post-content .post-title .post-btn{
    font-size: 18px;
    border-radius: 25px;
    border-width: 0;
    padding: 10px 25px;
    background: var(--sky);
}

main .site-content .post-content .post-title .post-btn:hover{
    transition: all 1s ease;
    color: white;
}

.site-content .pagination{
    justify-content: center;
    margin: 50px;
}

.site-content .pagination a{
    padding: 10px 13px;
    border-radius: 30px;
    margin: 0 5px;
}

.site-content .pagination .page{
    background: #707070;
    color: white;
    transition: all .5s ease;
}

.site-content .pagination .page.active{
    box-shadow: 0 0 0 2px white, 0 0 0 4px #397dad
}



/*------x-----------Site Content--------------x-------*/


/*------------------Sidebar----------------------*/

.site-content >.sidebar .category-list .list-items{
    background: var(--sky);
    padding: 7px 16px;
    margin: 12px 0;
    border-radius: 50px;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.site-content >.sidebar .category-list .list-items a{
    color: black;
}

.site-content .sidebar .popular-post .post-content{
    padding: 1rem 0;
}

.site-content .sidebar .popular-post h2{
    padding-top: 8rem;
}

.site-content .sidebar .popular-post .post-info{
    padding: .4rem .1rem !important;
    bottom: 0 !important;
    left: 1.5rem !important;
    border-radius: 0 !important;
    background: white !important;
}

.site-content .sidebar .popular-post .post-title a{
    font-size: 1rem;
}

.site-content .sidebar .newsletter{
    padding-top: 10rem;
}

.site-content .sidebar .newsletter .font-element{
    padding: .5rem 2rem;
}

.site-content .sidebar .newsletter .input-element{
    width: 80%;
    height: 1.9rem;
    padding: .3rem .5rem;
    font-size: 1rem;
}

.site-content .sidebar .newsletter .form-btn{
    border-radius: 0;
    padding: .8rem 34.4%;
    margin: 1rem 0;
    background: var(--sky);
}

.site-content .sidebar .popular-tags{
    padding: 5rem 0;

}

.site-content .sidebar .popular-tags .tags .tag{
    background: var(--sky);
    margin: .4rem .6rem;
    padding: .4rem 1rem;
    border-radius: 3rem;
}

/*------x-----------Sidebar--------------x-------*/



/*------------------Footer----------------------*/

footer.footer{
    text-align: center;
    align-items: center;
    background: black;
    position: relative;
    color: white;
}

footer.footer .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer.footer .container div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 2rem .9rem 1rem .9rem;
}

footer.footer .container p{
    font-size: 20px;
    color: #707070;
}

footer.footer .newsletter .form-element{
    background: black;
    display: inline-block;
}

footer.footer .newsletter .form-element input{
    padding: .5rem .7rem;
    border: none;
    background: transparent;
    color: white;
    font-size: 1rem;
    width: 75%;
}

footer.footer .newsletter .form-element span{
    background: var(--sky);
    padding: .7rem .7rem;
    border-radius: 10px;
    color: black;
    cursor: pointer;
}

footer.footer .instagram h2{
    margin-bottom: 0;
}

footer.footer .instagram div img{
    display: inline-block;
    width: 25%;
    height: 50%;
    margin: .3rem .4rem;
}

footer.footer .instagram div img:hover{
    transform: scale(1.3);
    transition: all 1s ease;
}

footer.footer .follow div i{
    color: white;
    padding: 0 .4rem;
}

footer.footer .follow div i:hover{
    color: #66d0cc;
    transition: all 0.5s ease;
}

footer.footer .rights{
    justify-content: center;
}

footer.footer .rights h4 a:hover{
    color: #66d0cc;
    transition: all 0.5s ease;
}

footer.footer .move-up{
    position: absolute;
    right: 6%;
    top: 50%;
    color: var(--midnight);
}

footer.footer .move-up:hover{
    color: #66d0cc;
    cursor: pointer;
    transform: scale(1.3);
    transition: all 1s ease;
}

footer.footer .move-up.fixed{
    position: fixed;
    right: 2%;
    top: 95%;
    opacity: 50%;
}

footer.footer .move-up.fixed:hover{
    opacity: 100%;
}

/*------x-----------Footer--------------x-------*/







@media only screen and (max-width: 1130px){
    .site-content .post-content .post-image .post-info{
        left: 1.8rem !important;
        bottom: 0.9rem !important;
        border-radius: 0 !important;
    }

    .site-content .sidebar .popular-post .post-info{
        display: none !important;
    }

    footer.footer .container{
        grid-template-columns: repeat(2, 1.5fr);
    }
}


@media only screen and (max-width: 750px){

    main .site-content{
        grid-template-columns: 100%;
    }

    footer.footer .container{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width: 520px){
    .site-content .post-content .post-info{
        display: none;
    }
    footer .container div{
        padding: 1rem .9rem !important;
    }
    footer .rights {
        padding: 0 1.4rem;
        text-align: center;
    }
}
















